.root {
    display: flex;
    max-width: 100%;
  }
  .sidebar {min-width:20%}

.gallery-list {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.gallery-item {
 padding-bottom: 10px;
}

.item-inf{display: flex;
flex-direction: column;}