* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  margin: 0 auto;
  width: 1600px;
}
.header {
  padding: 10px;
  width: 1200px;
  margin: 0 auto;
}
.logo {
  float: left;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px;
}
h1::first-letter {
  color: #1abc9c;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.menu_list {
  float: right;
  list-style: none;
}
.nav_link {
  float: left;
  font-family: "Open Sans-Bold", sans-serif;
  font-size: 14px;
  padding: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
a:hover.link {
  color: #1abc9c;
}
a {
  text-decoration: none;
  color: #000000;
}
/* info */
.info {
  background-image: url(../img/slide4@1X.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main_info {
  padding-bottom: 600px;
  margin: 0 auto;
  width: 1170px;
}
.info_title {
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: -2px;
  line-height: 82px;
  position: absolute;
  left: 25%;
  top: 40%;
}
.information {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  position: absolute;
  left: 25%;
  top: 55%;
}
.left {
  position: absolute;
  top: 40%;
}
.right {
  position: absolute;
  left: 75%;
  top: 40%;
}
.button {
  width: 104px;
  height: 104px;
  font-size: 40px;
  background-color: #1abc9c;
  color: #ffffff;
  padding: 20px 41px;
  border: transparent;
  background-position: center;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}

/* .collection */
img {
  display: block;
}
.product_title {
  text-align: center;
  font-family: "Roboto-Black", sans-serif;
  font-size: 48px;
  line-height: 2;
  color: #515151;
  margin-bottom: 50px;
}
.product_title:after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: auto;
}
.new_collection {
  background-color: #e9f0fd;
}
.collection {
  width: 1170px;
  margin: 0 auto;
}
.collection_list {
  float: left;
  width: 255px;
  height: 322px;
  list-style: none;
  background-color: #ffffff;
  margin-bottom: 80px;
  margin-left: 35px;
  position: relative;
}
.collection_list:not(:last-child) {
  margin-left: 30px;
}
.collection_img {
  width: 257px;
  height: 293px;
}
.collection_name {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  background-color: #323232;
  color: #ffffff;
  text-transform: uppercase;
  float: left;
  width: 201px;
  padding: 13px 13px 14px;
}
.collection_price {
  width: 54px;
  font-weight: 900;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  background-color: #8c8c8c;
  float: left;
  margin-bottom: 30px;
  padding: 13px 13px 14px;
}
.icon {
  width: 245px;
  height: 280px;
  color: #ffffff;
  padding: 15px 15px 15px 15px;
  position: absolute;
  opacity: 0;
  top: 5px;
  left: 5px;
}
.like {
  background-image: url(../img/like.png);
  background-size: contain;
  top: 25%;
  left: 20%;
  width: 45px;
  height: 45px;
  margin: 10px;
  position: absolute;
  border: 2px solid #ffffff;
 }
.shuffle {
  background-image: url(../img/shuffle.png);
  background-size: contain;
  width: 45px;
  height: 45px;
  left: 40%;
  top: 25%;
  margin: 10px;
  position: absolute;
  border: 2px solid #ffffff;
}
.watch {
  background-image: url(../img/time.png);
  background-size: contain;
  left: 60%;
  top: 25%;
  width: 45px;
  height: 45px;
  margin: 10px;
  position: absolute;
  border: 2px solid #ffffff;
}
.curt {
  background-image: url(../img/shopping-cart.png);
  background-size: contain;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  width: 166px;
  height: 45px;
  background-repeat: no-repeat;
  margin: 9px;
  text-align: right;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 2px solid #ffffff;
}
.like:hover {
  background-color: #1abc9c;
  opacity: 1;
  border: transparent;
}
.shuffle:hover {
  background-color: #1abc9c;
  opacity: 1;
  border: transparent;
}
.watch:hover {
  background-color: #1abc9c;
  opacity: 1;
  border: transparent;
}
.curt:hover {
  background-color: #1abc9c;
  opacity: 1;
  border: transparent;
}
.icon:hover {
  background-color: #000000;
  opacity: 0.5;
}
a:hover .collection_name,
a:hover .collection_price {
  background-color: #1abc9c;
}
a:hover .collection_price {
  opacity: 0.6;
}
/*FOOTER*/

.footer {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  background-color: #323232;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 33px;
}
.site_info1 {
  border-right: 1px solid #ffffff;
}
.site_info2 {
  color: #1abc9c;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
