.information {
  padding-top: 20px;
margin: auto

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.add_box,
.delete_box,
.change_box {
  display: flex;
  flex-direction: column;
}
input {
  margin-bottom: 0.2rem;
}

.table{text-align: center}
table > thead{ border-bottom: 1px solid #000000}