* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

.wrapper {
  font-family: "Playfair Display", serif;
  margin: 0 140px 70px 147px;
  padding: 97px 40px 30px 40px;
  font-size: 14px;
}
.nav_menu {
  display: block;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 103px;
}
.nav_menu_item {
  display: inline-block;
 }
a:hover {
  color: #6cc2f7;
}
.menu_link {
  text-decoration: none;
  margin-right: 103px;
  color: #000000;
}
.box1 {
  display: inline-block;
  width: 470px;
  margin-right: 41px;
}
.box2 {
  display: inline-block;
  width: 420px;
}
.box3 {
  display: inline-block;
  width: 470px;
  margin-right: 41px;
}
.box4 {
  display: inline-block;
  width: 420px;
}
.box5 {
  display: inline-block;
  width: 470px;
  margin-right: 41px;
}
.box6 {
  display: inline-block;
  width: 420px;
}
.text_subtitle {
  text-transform: uppercase;
}
.box1_img {
  padding: 1px 10px 37px 35px;
}
.box2_img {
  padding: 5px 3px 38px 0px;
}
.box3_img {
  margin: 25px 59px 31px 5px;
}
.box4_img {
  padding: 11px 1px 7px 0px;
  margin-bottom: 32px;
}
.box5_img {
  margin: 13px 5px 31px 3px;
}
.box6_img {
  margin-top: 36px;
  margin-bottom: 31px;
}
.title1 {
  font-size: 30px;
  margin: 34px 6px 34px 0px;
}
.title2 {
  font-size: 30px;
  margin: 34px 6px 34px 0px;
}
.title3 {
  font-size: 30px;
  margin: 28px 6px 34px 0px;
}
.title4 {
  font-size: 30px;
  margin: 28px 6px 34px 0px;
}
.title5 {
  font-size: 30px;
  margin: 28px 6px 34px 0px;
}
.title6 {
  font-size: 30px;
  margin: 28px 6px 34px 0px;
}
button {
  display: block;
  font-size: 20px;
  margin: auto;
  padding: 21px 34px 22px;
  background-color: white;
  margin-top: 54px;
  margin-bottom: 70px;
}
